<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="6">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Court</title>
    {% load static %}
    <link href="http://fonts.cdnfonts.com/css/sulphur-point" rel="stylesheet">
      <link rel = "icon" href ={% static 'logo.jpg' %}   type = "image/x-icon" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body style="background-image: radial-gradient(circle, #e1e1e1, #e1e1e1, #e1e1e1)">
    <div class="fixed-top flex-column">
      <nav class="navbar bg-dark bg-opacity-80 py-0">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'dashbord' phone  %}">
            <img src="{% static 'logo.jpg' %}" alt="" width="25" height="30" class="d-inline-block align-text-top">
            <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
            <h7 style="color:rgb(177, 228, 235); font-family: 'Alegreya Sans SC';font-size: 22px;" > &nbsp; Booking WebSite </h7>
          </a>
          <div class="d-flex flex-row-reverse">
            <div class="p-2" style="color:rgb(177, 228, 235);"><a href="/login/"> <button class="btn btn-outline-danger me-2 " type="button">Logout</button></a></div>
            <div class="p-2" style="color:rgb(177, 228, 235);"><h5 style="color:rgb(177, 228, 235);"><h5 style="color:rgb(177, 228, 235); font-family: 'Alegreya Sans SC';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{phone}}</h5></div>
          </div>
          
        </div>
        </div>
      </nav>
      </div>
      <!-- END OF NAVIGATION BAR -->
      <br>
      <br>
      <br>
      <br>
        <div class="d-flex justify-content-between">
          <a class="btn btn-info right mr-2" href="{% url 'booking' phone ground_name previous_date %}"> <b>Previous</b> </a>    
          <a class="btn btn-info right mr-2" href="{% url 'booking' phone ground_name today_date %}"> <b>Today</b> </a>
          <a class="btn btn-info right mr-2" href="{% url 'booking' phone ground_name next_date %}"> <b>Next >></b> </a>
        </div>
        <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>
          $( function() {
            $( "#datepicker" ).datepicker();
          } );
          </script> 
        <p>Date: <input type="text" id="datepicker"></p>
        <form name="login" method="post" action=""> 
          <button type="submit" name="sendotp" value="sendotp" class="btn btn-outline-primary me-2"><b>check</b></button>
          <a class="card-text" href="/booking/{{date}}" ><button class="btn btn-outline-info me-2" type="button">Book Simpliz Turf</button></a> 
          {% csrf_token %}   
          </form> -->
       <br>
      <div class="d-flex justify-content-center" style="font-family:'Andale Mono', 'monospace';"><b><h5>{{ current_date }}</h5></b></div>
    <div class="d-flex justify-content-center" style="font-family:'Andale Mono', 'monospace';"><b><h6>{{ current_day }}</h6></b></div>
     
    </div>


<div style="--stripe: #cfd8dc;
--bg: #e1e1e1;
background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, var(--bg) 25%, transparent 25%),
  linear-gradient(45deg, var(--bg) 25%, transparent 25%);
background-size: 100px 100px;
background-color: var(--stripe);" class="card bg-glass " style="color: blueviolet;">
  <div class="card-body px-5 py-2 px-md-5">
    <style>
  #one {
  position: fixed;
  top: 45%;
  right: 15px;
  background: rgba(0, 200, 255, 0.912);
  
}

.outer {
  width: 500px;
  height: 300px;
  overflow: scroll;
  padding-left: 150px;
}

    </style>
   <div class="box" id="one" style="box-shadow: rgba(130, 138, 130, 0.346) 3px 3px 20px 12px; ;writing-mode: vertical-lr; text-orientation: sideways-right; font-size:large;"> Note: The duration is 1 hour.</div>
  <table class="table  text-center ">
    <thead bgcolor="#0dcaf0">
      <tr >
        <th scope="col" ><h3></h3>SLOT</th>
       
        <th scope="col">STATUS</th>
        
      </tr>
    </thead>
    {% for i in status%}
    <tbody class="table-dark" style="box-shadow: rgba(58, 58, 58, 0.133) 3px 3px 20px 12px;">
      <tr>
        

        <th scope="row" style=" padding-top: 12px ;"><h5><b>{{i.slot_time}}:00</b></h5></th>
        
        <td>
          {% if i.is_booked is False  %}
            {% if i.phone_number_registered == none  %}
              <a class="card-text" href="/bookingconfirm/{{phone}}/{{i.id}}" ><button class="btn btn-outline-info me-2" type="button">Book</button></a>
            {% endif %}

          {% elif i.phone_no_registered == phone  %}
            <a class="card-text" href="/cancelconfirm/{{phone}}/{{i.id}}" ><button class="btn btn-outline-danger me-2" type="button">Cancel</button></a>
           {% else %}
          <h5>Not Available</h5>
          
          {% endif %}
        
          
          
          
         
      </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
      </ul>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
