<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="6">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Court</title>
    {% load static %}
    <link href="http://fonts.cdnfonts.com/css/sulphur-point" rel="stylesheet">
      <link rel = "icon" href ={% static 'logo.jpg' %}   type = "image/x-icon" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body style="background-image: radial-gradient(circle, #e1e1e1, #e1e1e1, #e1e1e1)">
    <div class="fixed-top flex-column">
      <nav class="navbar bg-dark bg-opacity-80 py-0">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'dashbord' phone  %}">
            <img src="{% static 'logo.jpg' %}" alt="" width="25" height="30" class="d-inline-block align-text-top">
            <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
            <h7 style="color:rgb(177, 228, 235); font-family: 'Alegreya Sans SC';font-size: 22px;" > &nbsp; Booking WebSite </h7>
          </a>
          <div class="d-flex flex-row-reverse">
            <div class="p-2" style="color:rgb(177, 228, 235);"><a href="/login/"> <button class="btn btn-outline-danger me-2 " type="button">Logout</button></a></div>
            <div class="p-2" style="color:rgb(177, 228, 235);"><h5 style="color:rgb(177, 228, 235);"><h5 style="color:rgb(177, 228, 235); font-family: 'Alegreya Sans SC';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{phone}}</h5></div>
          </div>
          
        </div>
        </div>
      </nav>
      </div>
      <!-- END OF NAVIGATION BAR -->
      <br>
      <br>
      <br>
      <br>
        <div class="d-flex justify-content-between">
          <a class="btn btn-info right mr-2" href="{% url 'booking' phone ground_name previous_date %}"> <b>Previous</b> </a>    
          <a class="btn btn-info right mr-2" href="{% url 'booking' phone ground_name today_date %}"> <b>Today</b> </a>
          <a class="btn btn-info right mr-2" href="{% url 'booking' phone ground_name next_date %}"> <b>Next >></b> </a>
        </div>

       <br>
      <div class="d-flex justify-content-center" style="font-family:'Andale Mono', 'monospace';"><b><h5>{{ current_date }}</h5></b></div>
    <div class="d-flex justify-content-center" style="font-family:'Andale Mono', 'monospace';"><b><h6  style=" font-size:20px;">{{ current_day }}</h6></b></div>
     
    </div>


<div style="--stripe: #cfd8dc;
--bg: #e1e1e1;
background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, var(--bg) 25%, transparent 25%),
  linear-gradient(45deg, var(--bg) 25%, transparent 25%);
background-size: 100px 100px;
background-color: var(--stripe);" class="card bg-glass " style="color: blueviolet;">
  <div class="card-body px-5 py-2 px-md-5">
    <style>
  #one {
  position: fixed;
  top: 45%;
  right: 15px;
  background: rgba(0, 200, 255, 0.912);
  
}

.outer {
  width: 500px;
  height: 300px;
  overflow: scroll;
  padding-left: 150px;
}

    </style>
    <div class="table-responsive">
   <div class="box" id="one" style="box-shadow: rgba(130, 138, 130, 0.346) 1px 1px 10px 5px; ;writing-mode: vertical-lr; text-orientation: sideways-right; font-size:medium;"> Note: The duration is 1 hour.</div>
  <table class="table  text-center table-sm table-hover flex-grow-1" >
    <thead bgcolor="#0dcaf0">
      <tr  >
        <th scope="col" ><h3 style=" font-size:21px; margin-bottom:0">SLOT</h3></th>
       
        <th scope="col"><h3 style=" font-size:21px; margin-bottom:0">STATUS</h3></th>
        
      </tr>
    </thead>
    {% for i in status%}
    <tbody class="table-dark" style="box-shadow: rgba(58, 58, 58, 0.133) 2px 2px 10px 7px;">
      <tr>
        
        {% if i.slot_time == "6"  %}
          <th scope="row" style=" padding-top: 2px;"><h5 style=" font-size:19px; margin-bottom:0"><b>{{i.slot_time}}:00 AM </b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "7"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>{{i.slot_time}}:00 AM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "8"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>{{i.slot_time}}:00 AM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "9"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>{{i.slot_time}}:00 AM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "10"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>{{i.slot_time}}:00 AM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "11"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font5ize:19px; margin-bottom:0"><b>{{i.slot_time}}:00 AM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "12"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>{{i.slot_time}}:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "13"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>01:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "14"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>02:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "15"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>03:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "16"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>04:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "17"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>05:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 500</h6></th>
        {% elif i.slot_time == "18"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>06:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 1000</h6></th>
        {% elif i.slot_time == "19"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>07:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 1000</h6></th>
        {% elif i.slot_time == "20"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>08:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 1000</h6></th>
        {% elif i.slot_time == "21"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>09:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 1000</h6></th>
        {% elif i.slot_time == "22"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>10:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 1000</h6></th>
        {% elif i.slot_time == "23"  %}
          <th scope="row" style=" padding-top: 2px ;"><h5 style=" font-size:19px; margin-bottom:0"><b>11:00 PM</b></h5><h6 style="font-size:13px; margin-bottom:0; font-family: Courier New; color:#C5F0F2;">Rs 1000</h6></th>

        {% else %}

         {% endif %}

        <td>
          {% if i.is_booked is False  %}
            {% if i.phone_number_registered == none  %}
              <a class="card-text" href="/bookingconfirm/{{phone}}/{{i.id}}" ><button class="btn btn-outline-info me-2" type="button">Book</button></a>
            {% endif %}

          {% elif i.phone_no_registered == phone  %}
            <a class="card-text" href="/cancelconfirm/{{phone}}/{{i.id}}" ><button class="btn btn-outline-danger me-2" type="button">Cancel</button></a>

          {% else %}
          <h5>Not Available</h5>
          
          {% endif %}
        
          
          
          
         
      </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

      </ul>
</div>
  </div>
 <style>
            #contact-container {
                position: fixed;
                bottom: 20px;
                left: 10px;

            }

            #contact-button {
                padding: 0px;
                border: none;
                border-radius: 6px;
                background-color: #373737;
                color: #fff;
                cursor: pointer;
                transition: transform 0.2s;
            }

            #contact-button:hover {
                transform: scale(1.1);
            }

            #contact-popup {
                background-color: #222222;
                display:flex;
                position: fixed;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 8%;
                color:white;
                border-radius: 10px;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.7s linear;
            }

            #contact-container.show-popup #contact-popup {
                visibility: visible;
                opacity: 1;
            }
        </style>

    <div id="contact-container">
            <button id="contact-button">Contact Us</button>
            <div id="contact-popup" class="" style="justify-content:space-between">
                <div style="margin:5px;background-color:#3b3b3b">
                <h5 style="font-size:1rem;margin:0px; padding:3px;">For support: </h5>

                <a href="https://wa.me/+918625877270" style="color:white;padding-top:3px;font-size:15px ">Connect through whatsapp</a>
                </div>

                <div style="margin:5px; background-color:#3b3b3b">
                <h6 style="font-size:1rem; margin-bottom:0px;padding:2px;">To register your turf. </h6>

                <h6 style="font-size:1rem; margin-bottom:0px;padding:2px;text-align:right;">Call : 8625877270 </h6>
                </div>
            </div>
        </div>

   <script type="text/javascript">
            const contactButton = document.getElementById("contact-button");
                    const contactContainer = document.getElementById("contact-container");
                    const contactPopup = document.getElementById("contact-popup");

                    contactButton.addEventListener("click", () => {
                        contactContainer.classList.toggle("show-popup");
                    });

                    document.addEventListener("click", (event) => {
                        console.log(event.target)
                        if (!contactContainer.contains(event.target) && contactPopup.style.opacity == 0) {
                            contactContainer.classList.remove("show-popup");
                        }
                    });
        </script>

</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
